PORT=3000
ACCESS_SECRET=access_token_secret
REFRESH_SECRET=refresh_token_secret
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
RUST_API_PORT=3001

MAILER_HOST="smtp.mail.com"
MAILER_USER="user@mail.com"
MAILER_PASSWORD="generated within google app password"